<!DOCTYPE html>
<html lang="en">

<!-- this is html boilerplate code -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Web/favicon2.png') }}">
    <title>Cable</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="selected">Home</a>
            <a href="missing.html">Missing</a>
            <a href="#">Help</a>
        </nav>
    </header>
    <main>
        <div class="main help-t">
            <div class="help-text">
                <h6 class="help-title">Help</h6>
                <p>This website is a All battery life claims are approximate maximum and based on results using the MobileMark 2014, MobileMark 2018, JEITA 2.0,
                    continuous 1080p video playback (with 150nits brightness and default volume level) or Google Power Load Test (PLT) battery-life
                    benchmark tests. Actual battery life will vary and depends on many factors such as product configuration and usage, software use,
                    wireless functionality, power management settings, and screen brightness. The maximum capacity of the battery will decrease with
                    time and use. <br><br> You can submit as many Submissions as
                    you want for the chance to win a Prize (defined below), but you may only win one prize. If a dispute
                    arises regarding the identity of an entrant, the proper entrant will be the owner of the email address
                    associated with the account used for the Submission. We are not responsible for late, erroneous,
                    misdirected or incomplete entries, or for any computer-related, online, telephonic, or technical
                    malfunctions that may occur. Entries will be considered void if they are in whole or in part illegible,
                    incomplete, damaged, irregular, altered, counterfeit, produced in error, forged, mechanically reproduced
                    or obtained through fraud or theft, or if they do not comply with these Official Rules.</p>
                    <!-- <h6>You can provide your feedback here</h6>
                    <form action="#" class="notify feedback">
                        <div class="in">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="in">
                            <label for="text">Your comment</label>
                        <textarea name="feedback" id="text" cols="30" rows="10"></textarea>
                        </div>
                        <div class="sub">
                            <input type="submit" value="submit">
                        </div>
                    </form> -->
            </div>
            
        </div>
    </main>




    <script src="script.js"></script>
</body>
</html